{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    "react-hot-loader/babel",
    ["styled-jsx/babel",{
      "plugins": [
        [
          "styled-jsx-plugin-postcss",
          {
            "path":
              "postcss.config.js"
          }
        ]
      ] 
    }]
  ]
}
